@font-face {font-family: Rockwell;src: url('../fonts/rockb.ttf');}
@font-face {font-family: Monaco;src: url('../fonts/Monaco.ttf');}
h4 {
	font-family: monospace;
}
ul {
	padding: 0;
	list-style-type: none;
}
.borderlessInput {
	outline: none;
	border: 0px;
}
.right {
	align-items: left;
}
.h1 {
	font-size: 32px;
	font-family: Rockwell;
}
div.form {
  display: block;
  text-align: center;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
	-moz-transform: scale(1); /* FF */
  -webkit-transform: scale(0.75); /* Safari and Chrome */
	-o-transform: scale(1); /* Opera */

}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-weight: normal;
  display: inline;
}
pre {
  overflow: auto;
}
.tall {
	height:100%;
}
.file:hover {
	text-decoration: underline;
	color: #6b5b95;
}
.repo {
	font-family: monospace;
}
li {
	padding: .3em 0;
	margin: 1em 0;
}
h1 {
	font-family: Rockwell;
}
.repo:hover {
	text-decoration: underline;
	color: white;
}
.reponoHover {
	font-family: monospace;
}
.repo {
	font-family: monospace;
	/*font-family: Arial;*/
	/*font-family: Monaco;*/
}
.blue {
	color: #6b5b95;
}
.right {
	text-align: right;
}
.blue-btn {
	background-color: #6b5b95;
	color: white;
}
.cancel {
	font-family: monospace;
	text-decoration: none;
	color: #6b5b95;
}
.left {
	text-align: left;
}
.cancel:hover {
	text-decoration: underline;
}
.small {
	max-width: 30%;
}
.medium {
	max-width: 50%;
}
.center-div {
	padding-top: 8%;
	margin: 0 auto;
}
.red {
	color: red;
}
.hide {
	display: none;
}
.next {
	display: inline-block;
	width: 100%;
	text-align: right;
}
.padded {
	padding-right: 32px;
	padding-left: 32px;
}
